* {
padding: 0;
margin: 0;
font-family: Helvetica Narrow, Helvetica, sans-serif; 
}
 
#control{
border: 1px solid #978;
display: block;
position: fixed;
top: 5px;
left: 5px;
background: rgba(0,0,0,.1);
padding: 2%;
width: 40%;
margin: auto;
font-size: 12px;
}
#control span{
display: inline-block;
width: 100px;
}
#control td{
padding: 4px;
background: rgba(255,133,122, .3);
}
#quotes{
display: block;
float: right;
width: 50%; 
font-size: 10px;
}
#msg{
position: fixed;
top: 15px;
left: 15px;
font-size: 18px;
width: 500px;
background: rgba(155, 14, 18, .6);
color: #fff;
font-weight: bold;
z-index: 65535;
padding: 15px;
}
.hide, .order-id{display:none;}
hr{margin: 4px 0;}

